/*html { 
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}*/


body {
  font-size: 16px;
  /*background-color: #fff2f4;*/
  background-color: #fef1cb;
  /*font-family: 'Muli', sans-serif;*/
  font-family: 'Coming Soon', cursive;
}

h3, a, span {
  font-weight: bold;
  font-family: 'Coming Soon', cursive;

}

/*.container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}*/

.wrapper {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.navbar-header {
  padding-bottom: 50px;
}


.navbar .navbar-nav{
  margin-top:25px;
}

#logo {
  height: 70px; 
  width: 70px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav > li > a{
  font-size: 20px;
  /*color: #ff96ca;*/
  color: #e3c670;
}


/* App wide classes */

.padded{
  padding:10px 20px;
}

.baby, .pin {
  height: 20px;
  width:18px;
}

textarea#notes {
  resize: none;
  height: 100px;
  margin-bottom: 20px;
}

.bfh-timepicker {
  width: auto;
}

.table > tbody > tr > td {
  padding: 4px;
}

.diaper {
  margin-left: 10px;
}

#wet-diaper, #dirty-diaper {
  margin-left: 20px;
  font-size: 20px;
}

.asleep.bfh-timepicker {
  /*width: 150px;*/
}

.awake.bfh-timepicker {
  /*width: 150px;*/
}

.delete:hover,
.delete:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
  color: #ff96ca;;
}

.delete {
  width: 100%;
}

.input-group .form-control:last-child {
  background-color: #fff;
}

.table > tbody > tr > td.duration {
  text-align: center;
  padding-top: 10px;
}

.glyphicon-baby-formula, .baby {
  margin-left: 10px;
}

/*#feedings {
  margin-left: 30px;
}
#diapers {
  padding: 0px;
}

#sleeps {
  padding-left: 10px;
}*/

.modal-header {
  background-color: #d9534f;
  color: white;
  font-weight: bold;
}

#date {
  position: relative;
  top: 35px;
  /*background-color: #ffe3f1;*/
  background-color: #fef1cb;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
}

.table>tbody>tr>td {
  padding: 0px;
}

.success.feeding > td, .success.sleep > td {
  padding: 4px;
}

#diapers > .table>tbody>tr>td {
  padding: 4px;
}