body {
  font-size: 16px;
  background-color: #fff2f4;
  font-family: 'Muli', sans-serif;
}

a {
  color: #ff96ca;
}

h3 {
  font-weight: bold;
}

.container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.navbar-header {
  padding-bottom: 50px;
}


.navbar .navbar-nav{
  margin-top:25px;
}

#logo {
  height: 70px; 
  width: 70px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav > li > a{
  font-size: 20px;
  color: #ff96ca;
}


/* App wide classes */

.padded{
  padding:10px 20px;
}

.baby, .pin {
  height: 20px;
  width:18px;
}

textarea#notes {
  resize: none;
  height: 100px;
  margin-bottom: 20px;
}

.bfh-timepicker {
  width: 130px;
}

.table > tbody > tr > td {
  padding: 4px;
}

.diaper {
  margin-left: 10px;
}

#wet-diaper, #dirty-diaper {
  margin-left: 20px;
  font-size: 20px;
}

.asleep.bfh-timepicker {
  width: 130px;
}

.awake.bfh-timepicker {
  width: 130px;
}

.delete:hover,
.delete:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
  color: #ff96ca;;
}
.delete {
  width: 100%;
}

.input-group .form-control:last-child {
  background-color: #fff;
}

.table > tbody > tr > td.duration {
  text-align: center;
  padding-top: 10px;
}

.glyphicon-baby-formula, .baby {
  margin-left: 10px;
}

#feedings {
  padding-right: 10px;
}
#diapers {
  padding: 0px;
}

#sleeps {
  padding-left: 10px;
}

.modal-header {
  background-color: #d9534f;
  color: white;
  font-weight: bold;
}



